.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .about-section, .vision-section, .mission-section, .culture-section, .location-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
  }
  
  h2 {
    color: #2b6cb0;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
  }
  