.chatbot-container {
    position: fixed;
    bottom: 30px;
    right: 2px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chatbot-button {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .chatbot-button:hover {
    background-color: #0056b3;
  }
  
  .chatbot-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .chatbot-text {
    font-size: 14px;
  }
  
  .chatbot-popup {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
    color: white;
  }
  
  .chatbot-popup.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    color: white;

  }
  
  .chatbot-popup a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .chatbot-popup a:hover {
    color: #007bff;
  }
  
  .chatbot-popup a svg {
    margin-right: 10px;
  }
  